---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Calendar } from "@lucide/astro";

const content = await getCollection("content");
const formatter = new Intl.DateTimeFormat();
const description =
  "Ramblings, musing and the likes. Trying to practice writing and perhaps build a digital garden or blog here.";
---

<BaseLayout description={description}>
  <h1>Kageetai.net</h1>

  <blockquote>
    {description}
  </blockquote>

  <p>
    My curiosity and passion for frontend development always keeps me trying out
    new technologies and features, the experience with I want to try to share
    here.
  </p>

  <p>
    Check my first articles below. Other projects can also be found on my <a
      href="https://github.com/Kageetai">GitHub profile</a
    >.
  </p>

  <a href="https://skillicons.dev"
    ><img
      src="https://skillicons.dev/icons?i=js,ts,html,css,react,nodejs,npm,bash,git,githubactions,idea,md,figma,obsidian,aws&perline=15"
      alt="My Skills"
    /></a
  >

  <h2>Posts</h2>

  <ul>
    {
      content
        .sort((a, b) => b.data.published.getTime() - a.data.published.getTime())
        .map(({ data, id }) => (
          <li>
            <a href={id}>
              <article>
                {data.image && (
                  <Image src={data.image} alt={data.title} width={400} />
                )}

                <header>
                  <h1>{data.title}</h1>
                </header>

                <aside>
                  <small>
                    <Calendar
                      size={16}
                      stroke-width={1}
                      style="vertical-align: text-top"
                    />
                    <time datetime={data.published.toISOString()}>
                      {formatter.format(data.published)}
                    </time>
                  </small>

                  <p>{data.summary || <>&nbsp;</>}</p>
                </aside>
              </article>
            </a>
          </li>
        ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;
    gap: 1rem;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    border: 2px solid;
    border-radius: var(--radius);
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.05);
        transition: transform 0.5s ease-in-out;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
      margin-bottom: auto;
    }

    header,
    aside {
      padding: 1rem;
    }

    h1 {
      margin: 0;
    }

    aside > p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
</style>
