---
interface Props {
  title: string;
  description?: string;
  created?: string;
  changed?: string;
}

const { title, description, created, changed } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Kageetai.net</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body>
    <nav>
      <a href="/">← Back</a>
    </nav>

    <article>

    <header>
      <h1>{title}</h1>

      <aside class="meta">
        <ul>
          <time datetime={created}>Created: {new Date(created).toLocaleDateString()}</time>
            {changed && (
                <time datetime={changed}>Updated: {new Date(changed).toLocaleDateString()}</time>
            )}
        </ul>
      </aside>
    </header>
    </article>


    <slot />
  </body>
</html>

<style is:global>
    img {
        max-width: 100%;
        height: auto;
    }
</style>
