---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description?: string;
  created?: string;
  changed?: string;
}

const { title, description, created, changed } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <nav>
    <a href="/">← Back</a>
  </nav>

  <article>
    <header>
      <h1>{title}</h1>

      <aside class="meta">
        <ul>
          <li>
            {
              created && (
                <time datetime={created}>
                  Created: {new Date(created).toLocaleDateString()}
                </time>
              )
            }
          </li>
          <li>
            {
              changed && (
                <time datetime={changed}>
                  Changed: {new Date(changed).toLocaleDateString()}
                </time>
              )
            }
          </li>
        </ul>
      </aside>
    </header>
  </article>

  <slot />
</BaseLayout>
