---
import BaseLayout from "./BaseLayout.astro";
import { Calendar, FileText } from "@lucide/astro";

interface Props {
  title: string;
  summary?: string;
  published: Date;
}

const { title, summary, published } = Astro.props;
---

<BaseLayout title={title} description={summary}>
  <nav>
    <a href="/">← Kageetai.net</a>
  </nav>

  <article>
    <header>
      <h1>{title}</h1>

      <aside class="meta">
        <ul>
          <li>
            <Calendar size={18} stroke-width={1} />
            <time datetime={published.toISOString()}>
              {published.toLocaleDateString()}
            </time>
          </li>

          {
            summary && (
              <li>
                <FileText size={18} stroke-width={1} />
                {summary}
              </li>
            )
          }
        </ul>
      </aside>
    </header>
  </article>

  <main>
    <slot />
  </main>
</BaseLayout>

<style>
  aside {
    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        display: flex;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
        border: 1px solid;
        border-radius: var(--radius);

        > * {
          flex: 1 0 auto;
        }

        > *:first-child {
          margin-top: 0.2rem;
        }
      }
    }
  }
</style>
